<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>PLEASE LOGIN</h1>
  <form method="POST" action="/signup">
    <input name="username" placeholder="username">
    <input name="password" placeholder="password">
    <button type="submit">sign up</button>
    <button type="submit" method="GET" action="/profile" >sign in</button>
  </form>
</body>
</html>
