<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if(user.role ==='admin') {%>
    
    <h1> welcome admin</h1>
    <div>
      <h2>Users List</h2>
      <button>update users</button>
      <button>delete users</button>
    </div>

    <% } else {%>
      <h1>welcome user</h1> 
      <button>update password</button>
      <% } %>
</body>
</html>